@model IEnumerable<PictureModel>

@if (Model != null)
{
        <div class="row">
        @foreach (var item in Model)
        {
                    <div class="card my-3 mx-3 shadow" style="width: 18rem;">
                        <img src="@item.ImagePath" class="card-img-top my-2" alt="@item.Caption">
                        <hr />
                        <div class="card-body p-1 text-center">
                            <h4 class="card-title fw-bold caption">@item.Caption</h4>
                             <p class="my-1 lh-1 small fst-italic">@item.Category.Name</p>
                             <p class="my-1 lh-1 small fst-italic">@item.UserEmail</p>
                             <p class="my-1 lh-1 small fst-italic">@item.TimeStamp</p>
                             <p class="my-1 lh-1 small fst-italic">@item.Comments.Count() comments</p>
                             <a class="btn btn-secondary" asp-controller="Picture" asp-action="Details" asp-route-id="@item.Id">Add Comment</a>
                        </div>
                    </div>
        
        } 
        </div>
}

