@model IEnumerable<PictureModel>


<h1>Picture Index</h1>

@if (Model != null)
{
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="card my-3 mx-3" style="width: 18rem;">
                <img src="@item.ImagePath" class="card-img-top my-2" alt="@item.Caption">
                <p class="my-1 lh-1">@item.UserEmail</p>
                <p class="my-1 lh-1">@item.TimeStamp</p>
                <hr />
                <div class="card-body my-2">
                   
                    <h4 class="card-title fw-bold" style="color: black">@item.Caption</h4>
                </div>
            </div>
        } 
    </div>
}


